#nav-bar {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ADADAD;
}

#nav-bar li {
  display: inline;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid red;
  -webkit-user-select: none;
  /* -khtml-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.stk {
  display: block;
  margin-left: 20px;
}
#streak_window{
  position:relative;
  top:20px;
}
#canv{
  border:1px solid red;
}
#month{
  text-align: center;
}
#mvRight{
  margin-left: 74%;
}