<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Streak</title>
  <script src="{{ url_for('static', filename='lib/eruda.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/phaser.min.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
  <div id="nav-bar">
    <ul>
      <li><button id=timer_toggler>Timer</button></li>
      <li><button id=streak_toggler>Streak</button></li>
    </ul>
  </div>
  <div id="timer_window">
    <div id="progress">
      
    </div>
  </div>
  <diav class='stk' id='streak_window'>
    <p id="month"></p>
    <canvas id="canv">
    </canvas>
    <button id="mvLeft">>></button> 
    <button id="mvRight"><<</button> 
  </div>
  
  <script type="module" src="{{ url_for('static', filename='lib/phaser.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/devTools.js')}}"></script>
  <script type="module" src="{{ url_for('static', filename='js/index.js')}}"></script>

</body>

</html>