<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Streak</title>
  <script src="{{ url_for('static', filename='lib/eruda.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/phaser.min.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
  <div id="app">
  </div>
<div id="droplist">
  <button id="startBtn">START TIMER</button>
</div>
<canvas id="StreakChart"></canvas>

  <script type="module" src="{{ url_for('static', filename='lib/phaser.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/devTools.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/chart.umd.js')}}"></script>
  <script type="module" src="{{ url_for('static', filename='js/index.js')}}"></script>
  

</body>

</html>